/* BREAKPOINTS
* Nuestros puntos de interrupción (BREAKPOINTS) se basan en anchos de pantalla
* donde nuestro contenido comienza a romperse. Nuestros puntos de interrupción
* pueden cambiar a medida que trasladamos más producto a diseños receptivos.
*/
@media (max-width: 1250px) {
  /* Las cajas principales de la página estan declaradas con la clase .wrap(contenido de : header, section, footer) */
  .wrap {
    width: 90%;
    margin: 0px auto;
  }

  #banner h1 {
    width: 100%;
    font-size: 35px;
    text-align: center;
    margin: 33px auto;
  }

  .card {
    width: 17%;
    margin: 1.4%;
  }

  .card p {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
  }

  #articles {
    width: 65%;
  }

  #articles article {
    width: 97%;
  }

  #footer .wrap > div {
    width: 25.6%; /* 320px/1250px */
  }

  #footer #browsers img {
    width: 14%;
  }

  #footer h5 {
    font-size: 30px;
  }
}

@media (max-width: 1150px) {
  #footer {
    width: 100%;
  }
  #footer .wrap > div {
    width: 22.6%;
  }
}

@media (max-width: 1080px) {
  .card .category {
    font-size: 17px;
  }

  .card .description {
    font-size: 14px;
  }

  #articles {
    width: 61%;
  }
}

@media (max-width: 970px) {
  #articles {
    width: 59%;
  }

  #footer .wrap > div {
    width: 26%;
    margin: 20px;
  }

  #footer h5 {
    font-size: 22px;
  }
}

@media (max-width: 925px) {
  #articles {
    width: 65%;
  }

  #lateral {
    width: 25%;
  }

  #lateral input[type="text"] {
    width: 78%;
  }
  .aside-box {
    width: 95%;
    min-height: 140px;
    height: auto;
    padding-bottom: 10px;
  }

  #login a {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  #login input[type="email"],
  #login input[type="password"] {
    width: 65%;
  }

  #login #user,
  #login #password {
    margin-left: 24px;
  }
  #login input[type="submit"],
  #login input[type="button"],
  #login input[type="reset"],
  #login button {
    margin-bottom: 0px;
  }
  #login input[type="reset"] {
    display: none;
  }
  #login input[type="submit"] {
    margin-left: 45px;
  }
}

/* (max-width: 899px) */
@media (max-width: 899px) {
  #lateral h3 {
    font-size: 20px;
  }
}

/* (max-width: 799px) */
@media (max-width: 799px) {
  #banner h1 {
    font-size: 29px;
  }

  .card {
    height: auto;
  }

  .card .category {
    font-size: 15px;
    margin-top: -23px;
  }

  .card .description {
    display: none;
  }

  #footer img {
    margin-bottom: 22px;
    max-width: 100%;
  }
}

@media (max-width: 724px) {
  #header {
    width: 100%;
    height: 120px;
    padding-top: 10px;
  }

  #logo {
    float: none;
    width: 200px;
    margin: 0px auto;
  }

  #menu {
    clear: both;
    float: none;
    width: 440px;
    margin: 0 auto;
  }

  #lateral input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 660px) {
  #banner h1 {
    font-size: 25px;
  }

  #lateral input[type="text"] {
    width: 93%;
  }
  #articles {
    float: none;
    width: 100%;
    margin: 0px auto;
    min-height: auto;
  }
  #lateral {
    float: none;
    width: 100%;
    margin: 0px auto;
    min-height: auto;
    margin-top: 20px;
  }

  #login input[type="email"],
  #login input[type="password"] {
    width: 89%;
  }

  #footer {
    height: auto;
    padding-bottom: 45px;
  }

  #footer .wrap > div {
    width: 100%;
    margin: 0px auto;
    margin-top: 20px;
  }

  #footer h5 {
    font-size: 16px;
  }
}
