body {
  font-family: sans-serif;
  text-align: center;
}

.layout {
  width: 1200px;
  margin: 0px auto;

  /* Definir el contenedor GRID */
  display: grid;
  /* grid-template-columns: repeat(4, calc(25% - 10px)); Definiendo 4 columnas */
  /* grid-template-columns: repeat(2, calc(25% - 10px)) 15% 35%; */
  /*  la unidad especial fr (fraction), que simboliza una fracción de espacio restante en el grid. */
  /* 1fr Acomoda una caja sobre la otra  -> 1fr 1fr acomoda 2 filas y 2 columnas  ->1fr 1fr 1fr acomoda 3 columnas*/
  /* grid-template-columns: 1fr 1fr 1fr 1fr;  */
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
  border: 3px solid orangered;
}

.layout .caja {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 20px;
  border: 4px solid black;
  background-color: gray;
}

.layout .red {
  background-color: red;
}
.layout .blue {
  background-color: blue;
}
.layout .green {
  background-color: green;
}
.layout .pink {
  background-color: pink;
}
