body {
  font-family: sans-serif;
  text-align: center;
}

.layout {
  width: 1200px;
  margin: 0px auto;

  /* Definir el contenedor GRID */
  display: grid; /* El contenido que se encuentra dentro de layout sera el que se ha elegido para modificar con GRID */
  /* grid-template-columns: calc(50% - 10px) calc(50% - 10px); Definiendo el tamaño de doscolumnas */
  /* grid-template-columns: 25% 25% 25% 25%; Definiendo el tamaño de 4 columnas */
  grid-template-columns: 50% 50%;
  grid-gap: 10px; /*Da margenes top y botton entre los elementos  */
  padding: 10px;
  border: 3px solid orangered;
}

.layout .caja {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 20px;
  border: 4px solid black;
  background-color: gray;
}

.layout .red {
  background-color: red;
}
.layout .blue {
  background-color: blue;
}
.layout .green {
  background-color: green;
}
.layout .pink {
  background-color: pink;
}
