body {
  font-family: sans-serif;
  text-align: center;
}

.layout {
  width: 1200px;
  min-height: 400px;
  margin: 0px auto;

  /* Definir el contenedor GRID */
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 3fr;

  /* Espacio entre elementos GRID */
  grid-gap: 10px;
  padding: 10px;
  border: 3px solid orangered;
}

.layout .caja {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 20px;
  border: 4px solid black;
  background-color: gray;
}

.layout .red {
  /* Toma el ancho declarado de filas y columnas es decir: el contenedor grid es de 3 columnas tres filas y la caja roja tomara el
  ancho de la primer fila desde la línea 1 hasta la tres de las columnas */
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: red;
}
.layout .blue {
  background-color: blue;
  grid-column: 2 / 4;
}
.layout .green {
  background-color: green;
}
.layout .pink {
  background-color: pink;
  grid-column: 1/ 3;
}

.layout .orange {
  background-color: orange;
}
.layout .lightblue {
  grid-column: 1 / 4; /* Atajo que permite usar las insutrucciones   /* grid-column-start: 1;
  grid-column-end: 3;  en una sola */
  background-color: lightblue;
}
