
body{
    background-color: #cccc;
    /* background-image: url(/03-fondos/img/paisaje.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: left bottom; */
    color:rgb(17, 17, 17);
    text-align: justify;
}

#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(73, 63, 168);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /**Alinear los textos dentro de una caja*/
    text-align: center;
}

h2{
    color: red;
    background-image: url(img/pattern.png);
    border: 5px solid red;
    text-align: right;
}