
body{
    background-color: #cccc;
    /* background-image: url(/03-fondos/img/paisaje.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: left bottom; */
    color:rgb(17, 17, 17);
    text-align: justify;
    /**Indenta cada parrafo contenido en el docuemnto*/
    text-indent: 15px;
    /*Separa las palabras dando espacio entre ellas*/
    word-spacing: 10px;
    /*Espacio entre letra y letra*/
    letter-spacing: 5px;
}

#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(73, 63, 168);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /**Alinear los textos dentro de una caja*/
    text-align: center;
    /**Ajustar las líneas dentro de una caja*/
    /*line-height: 50px;*/
    /**Modificar el texto a mayusculas, minusculas*/
    text-transform: uppercase;
    /**Integrar una linea bajo, arriba o tacharla del texto*/
    text-decoration: red underline;
    vertical-align: top;
}

h2{
    color: red;
    background-image: url(img/pattern.png);
    border: 5px solid red;
    text-align: right;
}