//Variables
$fuente-tipica: sans-sefir, Helvetica, Arial;
$color_fondo: #ccc;
$color_letra: red;
$color_secundario: rgb(26, 5, 5);
$color_azul: blue;
$color_verde: green;
$color_negro: black;
$color_blanco: white;
$color_naranja: orange;

// Uso de variables
body {
  background-color: $color_fondo;
}

h1 {
  font-family: $fuente-tipica;
  color: $color_letra;
}

p {
  color: $color_secundario;
}

// Anidación
.caja {
  border: 2px solid $color_negro;
  width: 500px;
  margin: 0px auto;
  text-align: center;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: $color_blanco;

  h1 {
    color: $color_azul;
  }

  p {
    color: $color_verde;
  }

  .info {
    font-size: 30px;
  }

  .author {
    font-size: 20px;
    color: $color_naranja;
  }
}

//Mixins - funciones

// @mixin nombrar la funcion --> puede o no llevar parametros
//@include mandar llamar la función
@mixin crearBordes($color, $size, $shadow) {
  border: $size solid $color;
  border-radius: $size;
  box-shadow: 0px 0px $size $shadow;
}

@mixin crearBordes2() {
  border: 5px solid $color_negro;
  border-radius: 10px;
  box-shadow: 0px 0px 5px $color_negro;
}

.caja {
  @include crearBordes($color_naranja, 10px, $color_negro);
}

.listado {
  @include crearBordes2();
  font-family: $fuente-tipica;
  width: 500px;
  margin: 0px auto;
  margin-top: 20px;
  color: $color_azul;
  background-color: $color_blanco;
}
