/* 
#####Selectores#######
 */

 /* Selector universal {*}  estilos generales
 --> El selector universal CSS (*) coincide con elementos de cualquier tipo.
     El selector universal sirve para seleccionar, 
     con ayuda de un joker (el carácter *) 
     cada elemento del árbol del documento y 
     vincularlo con una instrucciones determinada. 
     Una instrucción muy típica es la siguiente:
* {
margin: 0;
padding: 0;
}

Con esta instrucción se da el valor cero, por ejemplo, a las distancias de todos los elementos (*) predefinidas por el navegador.
 */
 *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }