/* 
#####Selectores#######
 */

 /* Selector universal {*}  estilos generales */

 *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 /* Selector de etiqueta, elemento o de tipo*/

 h1{
     background-color: red;
     color:white;
     padding: 10px;
 }

 a{
     font-size: 15px;
     color: green;
     text-decoration: none;
 }

 footer a{
     color: red;
 }

 /**Selector de identificador ID*/
 /*
 Los identificadores son únicos. No pueden haber dos identificadores
iguales en el mismo documento HTML. 
Si por alguna razón aparecen dos identificadores iguales, 
aun así los estilos CSS serán aplicados a los dos elementos. 
Sin embargo en javascript solo el primer elemento será seleccionado.
 */
 #descripcion,
  #titulo{
     border: 5px solid black;
     padding: 15px;
 }
 #titulo{
     background-color: blue;
     border: 2px dashed white;
 }

 /**Selector de clase*/
/*
*Sin embargo, las clases están pensadas para poder definir 
*el mismo estilo a varios elementos de la página. Es decir, 
*puedes asignar una misma clase a varias etiquetas sin problemas. 
*De hecho, las clases están pensadas justamente para que las utilices
* en diversos elementos distintos en la página.
*/

.parrafo{
    font-style: italic;
    font-weight: bold;
    padding: 10px;
}

.parrafo1,
.parrafo3{
    background-color: rgb(73, 92, 45);
    color: white;
}

.parrafo3{
background-color: orange;
color: black;
}