/* 
#####Selectores#######
 */

 /* Selector universal {*}  estilos generales */

 *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 /* Selector de etiqueta, elemento o de tipo*/

 h1{
     background-color: red;
     color:white;
     padding: 10px;
 }

 a{
     font-size: 15px;
     color: green;
     text-decoration: none;
 }

 footer a{
     color: red;
 }