* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#container {
  width: 90%; /*Ancho de la página -> ocupa el 90 del 100% del ancho de la pantalla permitiendo dejar margenes laterales */
  height: auto; /* Altura automatica: la altura se va adaptando al contenido que se vaya incrustando a la página */
  margin: 0px auto; /* Grueso de margenes y tamaño en automatico */
  border: 1px solid rgba(225, 225, 226, 0.8); /* Estilos del borde */
  box-shadow: 0px 0px 10px #ccc; /* Sombras a la caja */
  margin-top: 40px; /* Margen superior */
  margin-bottom: 40px; /* Margen inferior */
  min-height: 600px; /* Altura minima a la caja */
}

#header {
  display: flex; /* Contenido dentro del header se le podran implementar propiedades de flex */
  flex-direction: row; /* Ubicación del contenido en fila*/
  flex-wrap: wrap; /*Contenido no se salga de la caja; si la caja es desbordada el contenido lo coloca en una siguiente fila  */
  align-items: center; /* Centrado vertical */
  height: 120px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8); /* Estilos del borde */
}

.logo {
  flex-grow: 1; /* especifica el factor de crecimiento de un elemento flexible (que tiene asignado display:flex), en su dirección principal.  */
  flex-basis: 65%; /* Determinar el tamaño inicila de un elemento flexible */

  padding: 10px;
  margin-left: 20px;
  color: black;
  text-shadow: 1px 1px 0px #ccc;
  text-transform: uppercase; /* Cambiar el las letras que se encuentren en minusculas en mayusculas */
}

.logo h1 {
  font-style: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
}

#menu {
  flex-grow: 1;
  flex-basis: 30%;
  height: 100%; /* Ocupa el 100% de la caja */
  padding-right: 20px;
}

#menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; /* Los márgenes del elemento flexible son centrados dentro de la línea sobre su eje transversal. Si el tamaño transversal del elemento es mayor al del contenedor, se excederá por igual hacia ambas direcciones. */
  justify-content: space-between; /*Los items flex se distribuyen uniformemente sobre la línea. El espaciamiento se hace de tal manera que el espacio adyacente entre dos items es el mismo. El borde del comienzo principal y el borde del final principal se alinean al ras con el borde del primer y último item respectivamente.  */
  list-style: none; /* Quita el estilo que identifica al elemento como parte de una lista */
  height: 100%;
}

#menu a {
  text-transform: uppercase;
  color: #444;
  padding: 15px;
  transition: all 300ms;
}

#menu a:hover {
  background-color: #ccc;
  color: white;
}
