* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#container {
  width: 90%; /*Ancho de la página -> ocupa el 90 del 100% del ancho de la pantalla permitiendo dejar margenes laterales */
  height: auto; /* Altura automatica: la altura se va adaptando al contenido que se vaya incrustando a la página */
  margin: 0px auto; /* Grueso de margenes y tamaño en automatico */
  border: 1px solid rgba(225, 225, 226, 0.8); /* Estilos del borde */
  box-shadow: 0px 0px 10px #ccc; /* Sombras a la caja */
  margin-top: 40px; /* Margen superior */
  margin-bottom: 40px; /* Margen inferior */
  min-height: 600px; /* Altura minima a la caja */
}

#header {
  display: flex; /* Contenido dentro del header se le podran implementar propiedades de flex */
  flex-direction: row; /* Ubicación del contenido en fila*/
  flex-wrap: wrap; /*Contenido no se salga de la caja; si la caja es desbordada el contenido lo coloca en una siguiente fila  */
  align-items: center; /* Centrado vertical */
  height: 120px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8); /* Estilos del borde */
}

.logo {
  flex-basis: 65%; /* Determinar el tamaño inicila de un elemento flexible */

  padding: 10px;
  margin-left: 20px;
  color: black;
  text-shadow: 1px 1px 0px #ccc;
  text-transform: uppercase; /* Cambiar el las letras que se encuentren en minusculas en mayusculas */
}

.logo h1 {
  font-style: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
}
