body {
  --rojo: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#layout {
  display: flex;
  /*
  flex-direction: row;
  flex-wrap: wrap;
  */
  flex-flow: row wrap;
  /*
  La propiedad CSS justify-content define cómo el navegador distribuye el espacio entre
  y alrededor de los items flex, a lo largo del eje principal de su contenedor.
  https://developer.mozilla.org/es/docs/Web/CSS/justify-content
  */
  justify-content: space-evenly;
  border: 3px solid black;
  padding: 3px;
}

.caja {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 20px;
  border: 4px solid #222;
  margin: 10px;
  background-color: gray;
}

.red {
  background-color: var(--rojo);
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}
